In [152]:
import numpy as np
import pandas as pd

# Part A

Question 1

In [153]:
df = pd.DataFrame({'A':['group1','group1','group2','group1','group2','group1',
                       'group2','group2','group2','group1'],
                  'B':['true','true','true','false','false','false','false','true','false','true']})
df

        A      B
0  group1   true
1  group1   true
2  group2   true
3  group1  false
4  group2  false
5  group1  false
6  group2  false
7  group2   true
8  group2  false
9  group1   true

In [154]:
df1=pd.crosstab(df.A,df.B)
df2 = df1.index[df1['true']>df1['false']].tolist()
df2

['group1']

Question 2 
Part a

In [155]:
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([4,5,6,7,8])

In [156]:
a=pd.Series(np.union1d(ser1,ser2))
b=pd.Series(np.intersect1d(ser1,ser2))

In [157]:
c=pd.Series(a[~a.isin(b)])
c

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

Question 2 Part b

In [158]:
d=np.intersect1d(ser1,ser2)
d

array([4, 5], dtype=int64)

Question 3 Part a

In [159]:
data=np.random.randint(0,1000,size=10)
rand=pd.Series(data)
rand

0    182
1    134
2    319
3    178
4      1
5    621
6    358
7    600
8    186
9    493
dtype: int32

In [160]:
rand.where(lambda x: x%3 == 0).dropna()

5    621.0
7    600.0
8    186.0
dtype: float64

Question 3 Part b

In [161]:
pd.Series(rand.diff().tolist())

0      NaN
1    -48.0
2    185.0
3   -141.0
4   -177.0
5    620.0
6   -263.0
7    242.0
8   -414.0
9    307.0
dtype: float64

# Part B

Question 1

In [162]:
df = pd.read_csv(r"C:\Users\Ecjoee\Downloads\Grouby_Assignment_Data.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,school_state,teacher_prefix,project_grade_category,teacher_number_of_previously_posted_projects,project_is_approved,project_subject_categories,project_subject_subcategories,price,quantity
0,0,0,in,mrs,grades_prek_2,0,0,literacy_language,esl_literacy,154.60,23
1,1,1,fl,mr,grades_6_8,7,1,history_civics_health_sports,civics_government_teamsports,299.00,1
2,2,2,az,ms,grades_6_8,1,0,health_sports,health_wellness_teamsports,516.85,22
3,3,3,ky,mrs,grades_prek_2,4,1,literacy_language_math_science,literacy_mathematics,232.90,4
4,4,4,tx,mrs,grades_prek_2,1,1,math_science,mathematics,67.98,4

In [163]:
df.isnull().sum()

Unnamed: 0                                      0
Unnamed: 0.1                                    0
school_state                                    0
teacher_prefix                                  0
project_grade_category                          0
teacher_number_of_previously_posted_projects    0
project_is_approved                             0
project_subject_categories                      0
project_subject_subcategories                   0
price                                           0
quantity                                        0
dtype: int64

In [164]:
df.groupby('school_state')['price'].mean()

school_state
ak    337.510667
al    298.641397
ar    278.166613
az    252.355673
ca    323.282639
co    252.666940
ct    311.030415
dc    360.152267
de    234.136735
fl    297.499525
ga    308.207945
hi    365.838639
ia    284.773153
id    253.708874
il    284.538685
in    249.736221
ks    246.894763
ky    280.020031
la    358.954185
ma    328.623520
md    303.952794
me    274.640000
mi    299.793970
mn    249.289851
mo    276.094635
ms    306.512922
mt    278.000490
nc    254.037568
nd    256.985035
ne    286.515307
nh    330.994425
nj    336.891618
nm    297.836876
nv    283.005000
ny    335.973861
oh    271.301090
ok    264.163071
or    289.779098
pa    279.585613
ri    296.904035
sc    247.343586
sd    249.673433
tn    279.079419
tx    304.977799
ut    310.182139
va    267.539311
vt    289.467250
wa    283.266018
wi    301.433963
wv    258.633121
wy    307.638878
Name: price, dtype: float64

Question 2 Part a

In [165]:
df.groupby('teacher_prefix')['teacher_number_of_previously_posted_projects'].count()

teacher_prefix
dr            13
mr         10645
mrs        57264
ms         38944
teacher     2360
Name: teacher_number_of_previously_posted_projects, dtype: int64

Question 2 Part b

In [166]:
max_projects=df['teacher_number_of_previously_posted_projects'].max()
df.loc[max_projects,'teacher_prefix']

'mrs'

Question 3

In [167]:
df4=df[df['project_grade_category']== 'grades_9_12']
df4.groupby('project_subject_categories')['project_is_approved'].count()

project_subject_categories
appliedlearning                        494
appliedlearning_health_sports           43
appliedlearning_history_civics          72
appliedlearning_literacy_language      219
appliedlearning_math_science           171
appliedlearning_music_arts             175
appliedlearning_specialneeds           124
appliedlearning_warmth_care_hunger       1
health_sports                         1137
health_sports_appliedlearning            7
health_sports_history_civics             9
health_sports_literacy_language         12
health_sports_math_science              10
health_sports_music_arts                22
health_sports_specialneeds              67
health_sports_warmth_care_hunger         2
history_civics                         531
history_civics_appliedlearning          11
history_civics_health_sports             6
history_civics_literacy_language       104
history_civics_math_science             20
history_civics_music_arts               60
history_civics_specialneeds             65
literacy_language                     2030
literacy_language_appliedlearning       26
literacy_language_health_sports          9
literacy_language_history_civics        61
literacy_language_math_science          85
literacy_language_music_arts           189
literacy_language_specialneeds         256
math_science                          2408
math_science_appliedlearning           174
math_science_health_sports              62
math_science_history_civics             39
math_science_literacy_language          76
math_science_music_arts                176
math_science_specialneeds              208
math_science_warmth_care_hunger          2
music_arts                            1125
music_arts_appliedlearning               1
music_arts_health_sports                 6
music_arts_history_civics                1
music_arts_specialneeds                 19
specialneeds                           390
specialneeds_health_sports              18
specialneeds_music_arts                 49
specialneeds_warmth_care_hunger          5
warmth_care_hunger                     183
Name: project_is_approved, dtype: int64

Question 4

In [168]:
s=df.groupby('teacher_prefix')['project_is_approved'].mean()
s

teacher_prefix
dr         0.692308
mr         0.841522
mrs        0.855546
ms         0.843519
teacher    0.795339
Name: project_is_approved, dtype: float64

In [169]:
a=s.to_dict()
df.replace({'teacher_prefix':a})

,Unnamed: 0,Unnamed: 0.1,school_state,teacher_prefix,project_grade_category,teacher_number_of_previously_posted_projects,project_is_approved,project_subject_categories,project_subject_subcategories,price,quantity
0,0,0,in,0.855546,grades_prek_2,0,0,literacy_language,esl_literacy,154.60,23
1,1,1,fl,0.841522,grades_6_8,7,1,history_civics_health_sports,civics_government_teamsports,299.00,1
2,2,2,az,0.843519,grades_6_8,1,0,health_sports,health_wellness_teamsports,516.85,22
3,3,3,ky,0.855546,grades_prek_2,4,1,literacy_language_math_science,literacy_mathematics,232.90,4
4,4,4,tx,0.855546,grades_prek_2,1,1,math_science,mathematics,67.98,4
...,...,...,...,...,...,...,...,...,...,...,...
109221,109221,109243,mo,0.841522,grades_prek_2,0,1,literacy_language_math_science,literature_writing_mathematics,59.98,8
109222,109222,109244,nj,0.843519,grades_prek_2,0,1,literacy_language_math_science,literacy_mathematics,846.32,4
109223,109223,109245,nj,0.855546,grades_prek_2,3,1,literacy_language_math_science,literacy_mathematics,239.96,4
109224,109224,109246,ny,0.855546,grades_3_5,0,1,health_sports_specialneeds,health_wellness_specialneeds,73.05,16
109225,109225,109247,va,0.843519,grades_6_8,0,1,appliedlearning_math_science,college_careerprep_mathematics,109.90,5

Question 5

In [170]:
train_data = pd.DataFrame({'State': ['A', 'B', 'C', 'A','A', 'B', 'A', 'A','C','C'], 
                           'Class': [0, 1,1,0,1,1,0,1,1,0]})
train_data

  State  Class
0     A      0
1     B      1
2     C      1
3     A      0
4     A      1
5     B      1
6     A      0
7     A      1
8     C      1
9     C      0

In [171]:
res1 = train_data[train_data['Class'] == 1].groupby('State')['Class'].count()
res0 = train_data[train_data['Class'] == 0].groupby('State')['Class'].count()

In [172]:
data = pd.concat([res1,res0], axis = 1,sort=False)
data.columns = ['class = 1', 'class = 0']
data = data.fillna(0)
data['sum'] = data['class = 1'] + data['class = 0']
data

       class = 1  class = 0  sum
State
A              2        3.0  5.0
B              2        0.0  2.0
C              2        1.0  3.0

In [173]:
data['State_0']=data['class = 0'] / data['sum']
data['State_1']=data['class = 1'] / data['sum']
data.drop(['class = 1', 'class = 0', 'sum'], axis = 1, inplace = True)
data

        State_0   State_1
State
A      0.600000  0.400000
B      0.000000  1.000000
C      0.333333  0.666667

In [174]:
d=dict(data['State_0'])
e=dict(data['State_1'])

In [175]:
train_data['State_0'] = train_data['State'].map(d)
train_data['State_1'] = train_data['State'].map(e)

In [176]:
train_data.drop(['State', 'Class'], axis=1, inplace=True)
train_data

    State_0   State_1
0  0.600000  0.400000
1  0.000000  1.000000
2  0.333333  0.666667
3  0.600000  0.400000
4  0.600000  0.400000
5  0.000000  1.000000
6  0.600000  0.400000
7  0.600000  0.400000
8  0.333333  0.666667
9  0.333333  0.666667